<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>480468580065-m7clellrd6mdv7o4v8old1ubq2kfqqmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480468580065-m7clellrd6mdv7o4v8old1ubq2kfqqmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDzrHf44bO9wqcld42vipv8cJNTo_VT8lA</string>
	<key>GCM_SENDER_ID</key>
	<string>480468580065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newhorizonlabs.tronwallet</string>
	<key>PROJECT_ID</key>
	<string>trx-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>trx-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480468580065:ios:194b4de0308035e6</string>
	<key>DATABASE_URL</key>
	<string>https://trx-wallet.firebaseio.com</string>
</dict>
</plist>